---
permalink: /playlist/index.html
eleventyComputed:
  title: "Spotify playlist"
---
<div class="h-full w-full">
  <div class="h-full w-full flex flex-col">
    <div class="flex flex-0 text-2xl font-semibold">Spotify playlist</div>
    <div class="flex flex-0 my-4 text-gray-500 max-w-screen-md">
      This is one of my playlists selected randomly. Don't look for any message or meaning, I just felt that those tracks should follow in that order.
    </div>
    <div class="flex flex-1">
      <iframe id="spotifyPlayer" width="768" height="100%" frameBorder="0" allowfullscreen loading="lazy"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>
  </div>
</div>
