<div>
	<div class="text-lg font-semibold my-4">
		<a class="hover:text-pink-500" href="/">
			Some favorite releases
		</a>
	</div>

	<ul>
		{{#each collections.pages}}
			<li class="mb-1">
				<a class="hover:underline hover:text-pink-500" href="{{ this.url }}">
					{{ this.data.title }}
				</a>
			</li>
		{{/each}}
	</ul>
</div>
