<!doctype html>
<html lang="en-US">
<head>
	<title>{{ title }}</title>

	<meta charset="utf-8">
	<meta name="author" content="Nikita Popov">
	<meta name="description" content="Favorite releases list">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="Favorite releases list">
	<meta name="og:title" content="{{ title }}">
	<meta name="og:description" content="Favorite releases list">

	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
	<link rel="stylesheet" href="/assets/style.css">

	<!-- PostCSS + Tailwind -->
	<link rel="stylesheet" href="/style.css">

	<!-- Shoelace -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.47/dist/themes/base.css">
	<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.47/dist/shoelace.js"></script>
</head>
<body class="h-screen w-screen">
	<div class="container h-full w-full mx-auto flex flex-row gap-4">
		<div class="flex flex-col px-4 border-r-2" style="width: 264px;">
			{{> menu}}
		</div>

		<div class="flex flex-col flex-1 px-4 mt-4">
			{{{content}}}
		</div>
	</div>
</body>
</html>
