<div class="flex flex-col h-full">
	<div class="flex flex-grow-0 text-2xl font-semibold my-4 px-1">
		<a class="hover:text-pink-500" href="/">
			Some favorite releases
		</a>
	</div>

	<div class="flex flex-grow overflow-y-auto p-1">
		<ul>
			{{#each collections.pages}}
			{{#if (eq this.data.rating "10")}}
				<li class="mb-2">
					<a class="hover:text-pink-500" href="{{ this.url }}">
						<div class="text-gray-500">{{ this.data.artist }}</div>
						<div class="font-semibold">{{ this.data.release }}</div>
					</a>
				</li>
			{{/if}}
			{{/each}}
			<hr />
			<li class="my-2">
				<a class="hover:text-pink-500" href="/playlist">
					<div class="text-gray-500">Bonus</div>
					<div class="font-semibold">Music videos playlist</div>
				</a>
			</li>
		</ul>
	</div>

	<div class="flex flex-grow-0 mt-2 px-1">
		<a href="https://github.com/nikitalpopov/hall-of-fame" target="_blank">
			<sl-icon-button src="https://albums-hall-of-fame.netlify.app/assets/github.svg" label="Github"></sl-icon-button>
		</a>
		<a href="https://www.last.fm/user/tapochek97" target="_blank">
			<sl-icon-button src="https://albums-hall-of-fame.netlify.app/assets/lastfm.svg" label="Last.fm"></sl-icon-button>
		</a>
		<a href="https://open.spotify.com/user/htycnjdem0g6mob6l6351kzly" target="_blank">
			<sl-icon-button src="https://albums-hall-of-fame.netlify.app/assets/spotify.svg"label="Spotify"></sl-icon-button>
		</a>
	</div>
</div>
