<div class="flex flex-col h-full">
	<div class="flex flex-grow-0 text-lg font-semibold my-4">
		<a class="hover:text-pink-500" href="/">
			Some favorite releases
		</a>
	</div>

	<div class="flex flex-grow overflow-y-auto">
		<ul>
			{{#each collections.pages}}
				<li class="mb-1">
					<a class="hover:underline hover:text-pink-500" href="{{ this.url }}">
						<span class="hover:font-semibold">
							{{ this.data.title }}
						</span>
					</a>
				</li>
			{{/each}}
		</ul>
	</div>

	<div class="flex flex-grow-0 mt-2">
		<a href="https://github.com/nikitalpopov/hall-of-fame">
			<sl-icon-button name="github" label="Settings"></sl-icon-button>
		</a>
	</div>
</div>
