<div class="flex flex-col h-full">
	<div class="flex flex-grow-0 text-2xl font-semibold my-4">
		<a class="hover:text-pink-500" href="/">
			Some favorite releases
		</a>
	</div>

	<div class="flex flex-grow overflow-y-auto">
		<ul>
			{{#each collections.pages}}
				<li class="mb-2">
					<a class="hover:text-pink-500" href="{{ this.url }}">
                        <div class="text-gray-500">{{ this.data.artist }}</div>
                        <div class="font-semibold">{{ this.data.release }}</div>
					</a>
				</li>
			{{/each}}
		</ul>
	</div>

	<div class="flex flex-grow-0 mt-2">
		<a href="https://github.com/nikitalpopov/hall-of-fame">
			<sl-icon-button name="github" label="Settings"></sl-icon-button>
		</a>
	</div>
</div>
