{{#if pagination.previousPageHref}}
	<a class="underline hover:text-pink-500" href="{{ pagination.previousPageHref }}">&larr;</a>
	&nbsp; &middot; &nbsp;
{{/if}}
{{#each pagination.hrefs}}
	{{#if @index}}
		&nbsp; &middot; &nbsp;
	{{/if}}
	<a
		href="{{ this }}"
		class="underline hover:text-pink-500 {{#if (eq ../pagination.pageNumber @index)}}font-semibold{{/if}}"
		style=""
	>Page {{ addOne @index }}</a>
{{/each}}
{{#if pagination.nextPageHref}}
	&nbsp; &middot; &nbsp;
	<a class="underline hover:text-pink-500" href="{{ pagination.nextPageHref }}">&rarr;</a>
{{/if}}